In [1]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv("ORGANICS.csv", delimiter = ',')
df

,ID,DemAffl,DemAge,DemCluster,DemClusterGroup,DemGender,DemReg,DemTVReg,PromClass,PromSpend,PromTime,TargetBuy,TargetAmt
0,140,10.0,76.0,16.0,C,U,Midlands,Wales & West,Gold,16000.00,4.0,0,0
1,620,4.0,49.0,35.0,D,U,Midlands,Wales & West,Gold,6000.00,5.0,0,0
2,868,5.0,70.0,27.0,D,F,Midlands,Wales & West,Silver,0.02,8.0,1,1
3,1120,10.0,65.0,51.0,F,M,Midlands,Midlands,Tin,0.01,7.0,1,1
4,2313,11.0,68.0,4.0,A,F,Midlands,Midlands,Tin,0.01,8.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22218,52834058,13.0,65.0,9.0,B,F,South East,London,Silver,1500.00,5.0,0,0
22219,52834376,15.0,73.0,34.0,D,U,South East,S & S East,Gold,6053.06,12.0,0,0
22220,52837057,9.0,70.0,15.0,B,F,North,Yorkshire,Gold,6000.00,5.0,0,0
22221,52838096,11.0,66.0,8.0,B,F,North,N West,Silver,5000.00,5.0,0,0
22222,52856469,3.0,75.0,53.0,F,NaN,South West,S West,Gold,6000.00,2.0,0,0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22223 entries, 0 to 22222
Data columns (total 13 columns):
ID                 22223 non-null int64
DemAffl            21138 non-null float64
DemAge             20715 non-null float64
DemCluster         21549 non-null float64
DemClusterGroup    21549 non-null object
DemGender          19711 non-null object
DemReg             21758 non-null object
DemTVReg           21758 non-null object
PromClass          22223 non-null object
PromSpend          22223 non-null float64
PromTime           21942 non-null float64
TargetBuy          22223 non-null int64
TargetAmt          22223 non-null int64
dtypes: float64(5), int64(3), object(5)
memory usage: 2.2+ MB

In [33]:
df.shape

(22223, 13)

In [34]:
df.columns

Index(['ID', 'DemAffl', 'DemAge', 'DemCluster', 'DemClusterGroup', 'DemGender',
       'DemReg', 'DemTVReg', 'PromClass', 'PromSpend', 'PromTime', 'TargetBuy',
       'TargetAmt'],
      dtype='object')

In [35]:
df.isnull().any().any()

True

In [36]:
df = df.fillna(0)

In [37]:
df.isnull().any().any()

False

In [38]:
df.describe()

,ID,DemAffl,DemAge,DemCluster,PromSpend,PromTime,TargetBuy,TargetAmt
count,2.222300e+04,22223.000000,22223.000000,22223.000000,22223.000000,22223.000000,22223.000000,22223.000000
mean,2.605540e+07,8.286550,50.146605,26.368897,4420.590041,6.481663,0.247716,0.294740
std,1.507497e+07,3.828501,18.591278,16.196753,7559.047522,4.685349,0.431696,0.562831
min,1.400000e+02,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000
25%,1.169402e+07,6.000000,41.000000,12.000000,0.010000,4.000000,0.000000,0.000000
50%,2.874879e+07,8.000000,52.000000,25.000000,2000.000000,5.000000,0.000000,0.000000
75%,3.745402e+07,10.000000,63.000000,38.000000,6000.000000,8.000000,0.000000,0.000000
max,5.285647e+07,34.000000,79.000000,55.000000,296313.850000,39.000000,1.000000,3.000000